<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    
    <settings>
      <setting id="no_transactions_for_teams_without_user" category="game" type="boolean" default="0" />
  	</settings>
    
    <admin>
        <adminpage
            id="transaction"
            entity="transaction"
            navcategory="league"
            permissionrole="r_data" >

            <entity dbtable="transactions AS TransactionTab" >

                <overview delete="true" edit="false" >

                    <column
                        id="entity_transaction_club_id"
                        field="ClubTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_transaction_sender"
                        field="TransactionTab.sender"
                        converter="PaymentSenderMessageConverter"
                        type="text" />
                    
                    <column
                        id="entity_transaction_amount"
                        field="TransactionTab.amount"
                        type="number"
                        sort="true" />

                    <column
                        id="entity_transaction_date"
                        field="TransactionTab.date"
                        type="timestamp"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_transaction_details"
                        field="TransactionTab.details"
                        type="text"
                        converter="PaymentSubjectMessageConverter" />
                    
                	<join type="LEFT" jointable="club AS ClubTab" joincondition="TransactionTab.club_id = ClubTab.id" />
                </overview>

                <editform>
					<field id="club_id" type="foreign_key" entity="club" 
					    jointable="club" cascade="delete" labelcolumns="name" required="true" />
					<field id="date" type="timestamp" required="true"  />
					<field id="sender" type="text" required="true"  />
					<field id="details" type="text" required="true"  />
					<field id="amount" type="number" required="true" converter="MoneyTransactionConverter" />
					
                </editform>
            </entity>
        </adminpage>
    </admin>
  
</module>