<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

    <dependencies>
        <dependency module="leagues" version="1.0.0"/>
    </dependencies>
    
    <admin>
        <adminpage
            id="tablemarker"
            entity="tablemarker"
            navcategory="league"
            permissionrole="r_data" >

            <entity dbtable="table_marker AS MarkerTab" >

                <overview delete="true" edit="true" >

                    <column
                        id="entity_tablemarker_bezeichnung"
                        field="MarkerTab.label"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_tablemarker_league_id"
                        field="LeagueTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_tablemarker_positions_from"
                        field="MarkerTab.positions_from"
                        type="number"
                        sort="true" />
                  
                    <column
                        id="entity_tablemarker_positions_to"
                        field="MarkerTab.positions_to"
                        type="number"
                        sort="true" />
                    
                    <column
                        id="entity_tablemarker_target_league_id"
                        field="TargetLeagueTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    
                	<join type="LEFT" jointable="league AS LeagueTab" joincondition="MarkerTab.league_id = LeagueTab.id" />
                	<join type="LEFT" jointable="league AS TargetLeagueTab" joincondition="MarkerTab.target_league_id = TargetLeagueTab.id" />
                </overview>

                <editform>
                    <field id="label" type="text" required="true" />
                    <field id="league_id" type="foreign_key" entity="league" jointable="league" cascade="delete" labelcolumns="country, name" required="true" />
					<field id="positions_from" type="number" required="true" />
					<field id="positions_to" type="number" required="true" />
					<field id="colour" type="color" required="true" />
					<field id="target_league_id" type="foreign_key" entity="league" jointable="league" labelcolumns="country, name" required="false" />
                </editform>
            </entity>
        </adminpage>
    </admin>
    
    <pages>
        <page
            id="tablehistory"
            template="tablehistory"
            model="TableHistoryModel"
            role="user,guest"
            parentItem="league">
            <script file="flot/jquery.flot.min.js" />
            <script file="charts.js" />
        </page>

    </pages> 
    
</module>