<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="5.1.1">

    <dependencies>
        <dependency module="clubs" version="1.0.0"/>
    </dependencies>
    
    <admin>
        <adminpage
            id="player"
            entity="player"
            navcategory="league"
            permissionrole="r_data" >

            <entity dbtable="player AS PlayerTab" >

                <overview delete="true" edit="true" logging="true" loggingcolumns="first_name,last_name,nickname,club_id,position">

                    <column
                        id="entity_player_last_name"
                        field="PlayerTab.last_name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_player_first_name"
                        field="PlayerTab.first_name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_player_nickname"
                        field="PlayerTab.nickname"
                        type="text"
                        sort="true"
                        filter="true" />

                    <column
                        id="entity_player_club_id"
                        field="ClubTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_player_position"
                        field="PlayerTab.position"
                        type="text"
                        sort="true" />
                    
                     <column
                        id="entity_player_position_main"
                        field="PlayerTab.position_main"
                        type="text"
                        sort="true" />
                     
                     <column
                        id="entity_player_position_second"
                        field="PlayerTab.position_second"
                        type="text"
                        sort="true" />
                     
                     <column
                        id="entity_player_loan_owner_id"
                        field="LenderTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_player_status"
                        field="PlayerTab.status"
                        type="boolean" />
                    
                	<join type="LEFT" jointable="club AS ClubTab" joincondition="PlayerTab.club_id = ClubTab.id" />
                	<join type="LEFT" jointable="club AS LenderTab" joincondition="PlayerTab.loan_owner_id = LenderTab.id" />
                </overview>

                <editform>
                    <field id="first_name" type="text" />
					<field id="last_name" type="text" />
					<field id="nickname" type="text" />
					<field id="club_id" type="foreign_key" entity="club" jointable="club" cascade="delete" labelcolumns="name" />
					<field id="birthday" type="date"  />
					<field id="age" type="number"  />
					<field id="position" type="select" selection="Goalkeeper,Defender,Midfielder,Forward" required="true"  />
					<field id="position_main" type="select" selection="GK,LB,CB,RB,LM,CM,DM,AM,RM.LW,CF,RW" required="false"  />
					<field id="position_second" type="select" selection="GK,LB,CB,RB,LM,CM,DM,AM,RM.LW,CF,RW" required="false"  />
					<field id="nation" type="text" required="true"  />
					
					<field id="picture" type="file"  />
					<field id="injured" type="number" default="0" />
					<field id="suspended" type="number" default="0"  />
					<field id="suspended_cups" type="number" default="0"  />
					<field id="suspended_nationalteam" type="number" default="0"  />
					
					<field id="w_strength" type="percent" required="true" roles="r_attributes" />
					<field id="w_technique" type="percent" required="true" roles="r_attributes" />
					<field id="w_stamina" type="percent" required="true" roles="r_attributes" />
					<field id="w_fitness" type="percent" required="true" roles="r_attributes" />
					<field id="w_morale" type="percent" required="true" roles="r_attributes" />
					
					<field id="transfer_listed" type="boolean" />
					<field id="transfer_start" type="timestamp" />
					<field id="transfer_end" type="timestamp" />
					<field id="transfer_min_bid" type="number" />
					
					<field id="contract_salary" type="number" />
					<field id="contract_matches" type="number" />
					<field id="contract_goal_bonus" type="number" />
					
					<field id="loan_owner_id" type="foreign_key" entity="club" jointable="club" labelcolumns="name" />
					<field id="loan_fee" type="number" />
					<field id="loan_matches" type="number" />
					
					<field id="value" type="number" />
					
					<field id="sa_goals" type="number" />
					<field id="sa_assists" type="number" />
					<field id="sa_matches" type="number" />
					<field id="sa_yellow_card" type="number" />
					<field id="sa_yellow_card_2nd" type="number" />
					<field id="sa_red_card" type="number" />
					
					<field id="st_goals" type="number" />
					<field id="st_assists" type="number" />
					<field id="st_matches" type="number" />
					<field id="st_yellow_card" type="number" />
					<field id="st_yellow_card_2nd" type="number" />
					<field id="st_red_card" type="number" />
					
					<field id="history" type="textarea" />
					
					<field id="unsellable" type="boolean" />
					<field id="status" type="boolean" default="1" />
                </editform>
            </entity>
        </adminpage>
    </admin>
    
  <settings>
      <setting id="hide_strength_attributes" category="game" type="boolean" default="0" />
      <setting id="players_aging" category="game" type="select" selection="birthday,static" default="birthday" />
  </settings>
  
    <pages>
        <page
            id="player"
            template="player-details"
            model="PlayerDetailsWithDependenciesModel"
            role="user,guest"
            parentItem="team">
            <script file="flot/jquery.flot.min.js" />
            <script file="charts.js" />
        </page>
        
        <page
            id="topstrikers"
            template="strikers"
            model="TopStrikersModel"
            role="user,guest"
            navitem="true"
            navweight="3"
            parentItem="leagues" />
        
        <page
            id="topscorers"
            template="scorers"
            model="TopScorersModel"
            role="user,guest"
            navitem="true"
            navweight="4"
            parentItem="leagues" />

    </pages> 
    
    <blocks>

        <block
            id="playerstatistics"
            template="playerstatistics"
            model="PlayerStatisticsModel"
            includepages="none"
            area="custom"
            role="user,guest" />
        
    </blocks>
    
</module>