<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

    <dependencies>
        <dependency module="leagues" version="1.0.0"/>
    </dependencies>
    
    <admin>
        <adminpage id="schedulegenerator" permissionrole="r_matches" navcategory="season" filename="schedulegenerator"/>
        
        <adminpage
            id="season"
            entity="season"
            navcategory="season"
            permissionrole="r_matches" >

            <entity dbtable="season AS SeasonTab" >

                <overview delete="true" edit="true" >

                    <column
                        id="entity_season_name"
                        field="SeasonTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_season_league_id"
                        field="LeagueTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_season_completed"
                        field="SeasonTab.completed"
                        type="boolean"
                        filter="true" />
                    
                    
                	<join type="LEFT" jointable="league AS LeagueTab" joincondition="LeagueTab.id = SeasonTab.league_id" />
                </overview>

                <editform>
                    
                    <field id="name" type="text" required="true" />
                    <field id="league_id" type="foreign_key" entity="league" jointable="league" cascade="delete" labelcolumns="country, name" required="true" />
                    <field id="completed" type="boolean" />
                    
                    <field id="place_1_id" type="foreign_key" entity="club" jointable="club" labelcolumns="name" />
                    <field id="place_2_id" type="foreign_key" entity="club" jointable="club" labelcolumns="name" />
                    <field id="place_3_id" type="foreign_key" entity="club" jointable="club" labelcolumns="name" />
                    <field id="place_4_id" type="foreign_key" entity="club" jointable="club" labelcolumns="name" />
                    <field id="place_5_id" type="foreign_key" entity="club" jointable="club" labelcolumns="name" />
					
                </editform>
            </entity>
        </adminpage>
        
        <adminpage
            id="complete-season"
            filename="season-complete"
            navcategory="season"
            permissionrole="r_matches" />
    </admin>
    
    <blocks>

        <block
            id="season-picker"
            template="season-picker"
            model="SeasonsOfLeagueModel"
            includepages="none"
            area="custom"
            weight="0"
            role="user,guest" />
        
        <block
            id="results-list"
            template="results-list"
            model="MatchDayResultsModel"
            includepages="none"
            area="custom"
            weight="0"
            role="user,guest" />
        
        <block
            id="latest-results"
            template="results-list"
            model="LatestResultsModel"
            includepages="none"
            area="custom"
            weight="0"
            role="user,guest" />
        
    </blocks>
    
</module>