<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

    <dependencies>
        <dependency module="users" version="1.0.0"/>
        <dependency module="leagues" version="1.0.0"/>
    </dependencies>
    
    <admin>
        <adminpage
            id="club"
            entity="club"
            navcategory="league"
            permissionrole="r_data" >

            <entity dbtable="club AS ClubTab" >

                <overview delete="true" edit="true" logging="true" loggingcolumns="name,league_id">

                    <column
                        id="entity_club_name"
                        field="ClubTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_club_league_id"
                        field="LeagueTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_club_nationalteam"
                        field="ClubTab.nationalteam"
                        type="boolean"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_club_user_id"
                        field="UserTab.nick"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_club_finance_budget"
                        field="ClubTab.finance_budget"
                        type="number"
                        sort="true" />
                    
                    <column
                        id="entity_player"
                        field="(SELECT COUNT(*) FROM {tablePrefix}_player AS PlayerTab WHERE PlayerTab.club_id = ClubTab.id)"
                        type="number"
                        sort="true" />
                    
                    <column
                        id="entity_club_status"
                        field="ClubTab.status"
                        type="boolean" />
                    
                	<join type="LEFT" jointable="league AS LeagueTab" joincondition="ClubTab.league_id = LeagueTab.id" />
		    		<join type="LEFT" jointable="user AS UserTab" joincondition="ClubTab.user_id = UserTab.id" />
                </overview>

                <editform>
                    <field id="name" type="text" required="true" />
					<field id="short" type="text" required="true" />
					<field id="nationalteam" type="boolean" required="false" />
					<field id="league_id" type="foreign_key" entity="league" jointable="league" cascade="delete" labelcolumns="country, name" required="false" default="0" />
					<field id="user_id" type="foreign_key" entity="users" jointable="user" labelcolumns="nick" />
					<field id="user_id_actual" type="foreign_key" entity="users" jointable="user" labelcolumns="nick" />
					<field id="interimmanager" type="boolean" required="false" />
					<field id="image" type="file" />
					<field id="stadium_id" type="foreign_key" entity="stadium"  jointable="stadium" labelcolumns="name" />
					<field id="sponsor_id" type="foreign_key" entity="sponsor"  jointable="sponsor" labelcolumns="name" />
					<field id="sponsor_matches" type="number" />
					<field id="finance_budget" type="number" />
					<field id="min_target_rank" type="number" default="0" />
					<field id="price_stand" type="number" />
					<field id="price_seat" type="number" />
					<field id="price_main_stand" type="number" />
					<field id="price_main_seat" type="number" />
					<field id="price_vip" type="number" />
					<field id="last_standing" type="number" editonly="true" />
					<field id="last_seat" type="number" editonly="true" />
					<field id="last_main_standing" type="number" editonly="true" />
					<field id="last_main_seat" type="number" editonly="true" />
					<field id="last_vip" type="number" editonly="true" />
					<field id="championships" type="number" editonly="true" />
					<field id="st_goals" type="number" editonly="true" />
					<field id="st_goals_conceded" type="number" editonly="true" />
					<field id="st_matches" type="number" editonly="true" />
					<field id="st_wins" type="number" editonly="true" />
					<field id="st_losses" type="number" editonly="true" />
					<field id="st_draws" type="number" editonly="true" />
					<field id="st_points" type="number" editonly="true" />
					<field id="sa_goals" type="number" editonly="true" />
					<field id="sa_goals_conceded" type="number" editonly="true" />
					<field id="sa_matches" type="number" editonly="true" />
					<field id="sa_wins" type="number" editonly="true" />
					<field id="sa_losses" type="number" editonly="true" />
					<field id="sa_draws" type="number" editonly="true" />
					<field id="sa_points" type="number" editonly="true" />
					<field id="captain_id" type="foreign_key" entity="player" jointable="player" labelcolumns="first_name,last_name,nickname" required="false" default="0" />
					<field id="history" type="textarea" />
					<field id="status" type="boolean" default="1" />
                </editform>
            </entity>
        </adminpage>
    </admin>
    
    <pages>
        <page
            id="team"
            template="team-details"
            model="TeamDetailsModel"
            role="user,guest"
            parentItem="leagues" />

    </pages> 
    
    <blocks>

        <block
            id="teamplayers"
            template="teamplayers"
            model="TeamPlayersModel"
            includepages="team"
            area="custom"
            weight="0"
            role="user,guest" />
        

        <block
            id="team-results"
            template="results-list"
            model="TeamResultsModel"
            includepages="none"
            area="custom"
            weight="0"
            role="user,guest" />
        
        <block
            id="team-history"
            template="team_history"
            model="TeamHistoryModel"
            includepages="none"
            area="custom"
            weight="0"
            role="user" />
    </blocks>
</module>