<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    
    <admin>
		<adminpage id="teamsgenerator" permissionrole="r_daten" navcategory="league" filename="teamsgenerator"/>
		<adminpage id="importteams" permissionrole="r_daten" navcategory="league" filename="importteams"/>
		<adminpage id="playersgenerator" permissionrole="r_daten" navcategory="league" filename="playersgenerator"/>
		<adminpage id="importplayers" permissionrole="r_daten" navcategory="league" filename="importplayers"/>
	</admin>
  
</module>